/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #111;
  line-height: 1.5;
}

/* Utility classes */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
